.banner {
  padding: 50px 20px;

  background-image: url("https://www.zf.com/products/media/connectivity/STOCK_IMG_shutterstock_665225914_2019-01-09_5_2_2048px.jpg");
  background-size: cover;
  text-align: center;
}
