.coinPage {
  max-width: 1500px;
  margin: 0 auto;
  padding: 100px 20px;

  font-family: "Montserrat";

  display: flex;
}

// MOBILE DEVICES
@media only screen and (max-width: 1000px) {
  .coinPage {
    display: block;
    text-align: center;
    padding: 0 20px;
  }
}
